<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/stylesheet.css">
    <title>Document</title>
</head>
<body>
    <div id="search-component">
        <div id="logo">Sparrow Lite Logo</div>
        <div>
            <form action="/search" method="GET">
                <div id="search-bar">
                    <input id="input-box" type="text" name="q" placeholder="type words and search">
                </div>
                <button>Search</button>
            </form>
        </div>
    </div>
</body>
</html>