<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/search.css">
    <title>Document</title>
</head>
<body>
    <div class="inline-flex-row-left" id="content-wrapper">
        <div id="logo-wrapper">
            <a href="/"><img src="static/logo.png"></a>
        </div>
        <div id="search-wrapper">
            <form class="inline-flex-row-left" action="/search" method="GET">
                <div>
                    <div id="search-bar">
                        <input type="text" name="q" value="{{query}}">
                    </div>
                </div>
                <div id="button-wrapper">
                    <button>Search</button>
                </div>
            </form>
        </div>
    </div>
    <div>
        <div>placeholder result ({{query_time}} seconds)</div>
    {%for i in range(0, length)%}
    <div>
        <div>Title {{result[i].title}}</div>
        <div>URL {{result[i].url}}</div>
        <div>Cache_path {{result[i].cache_path}}</div>
        <div>Content {{result[i].content}}</div>
    </div>
    {%endfor%}
    </div>
</body>
</html>