.inline-flex-row-left {
    display: inline-flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    margin: auto 0;
}
#search-wrapper {
    margin: 0 1em;
}
#search-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    width:35em;
    height: 2em;
    border-radius: 1em;
    border: 1px solid #dfe1e5;
}

#button-wrapper {
    margin-left: 1em;
}

#logo-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#content-wrapper {
    margin-top: 1em;
    margin-left: 1em;
}

input {
    width: 95%;
    font-size: 16px;
    border: none;
}
input:focus {
    outline: none
}

img {
    width: 150px;
}

button {
    width: 80px;
    height: 30px;
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    font-size:14px;
}
button:hover {
    border: 2px solid lightskyblue;
}
button:focus {
    outline: none;
}
