#search-component {
    width: 15em;
    margin: 10em auto;
}
#logo {
    color: gray
}

#search-bar {
    height: 2em;
    width: 20em;
    border-radius: 1em;
    border: 1px solid #dfe1e5;
}

#input-box {
    font-size: 16px;
    width: 18em;
    margin: 2px 20px;
    border: 0;
}

#input-box:focus {
    outline: none;
}